<table border="1" cellspacing>
  <tr>
    <th>title</th>
    <th>subtitle</th>
    <th>towweight</th>
    <th>size</th>
    <th>acceleration range</th>
    <th>Germany price</th>
    <th>Netherland price</th>
    <th>United Kingdom price</th>
  </tr>
  <% @tesla_data.each do |tesla| %>
  <tr>
    <td><%= tesla[0] %></td>
    <td><%= tesla[1] %></td>
    <td><%= tesla[2] %></td>
    <td><%= tesla[3] %></td>
    <td><%= tesla[4] %></td>
    <td><%= tesla[5] %></td>
    <td><%= tesla[6] %></td>
    <td><%= tesla[7] %></td>
  </tr>
  <% end %>
</table>
<%= paginate @tesla_data %>
