<style>
  th {
    color: white;
    background-color: blue;
    padding: 5px;
    border: 1px solid black;
  }
</style>
<table border="1" cellspacing>
  <tr>
    <th>title</th>
    <th>subtitle</th>
    <th>towweight</th>
    <th>size</th>
    <th>number of seats</th>
    <th>acceleration range</th>
    <th>acceleration</th>
    <th>top speed</th>
    <th>top speed value</th>
    <th>range</th>
    <th>range value</th>
    <th>efficiency</th>
    <th>efficiency value</th>
    <th>fastcharge</th>
    <th>fastcharge value</th>
    <th>Germany price</th>
    <th>Netherland price</th>
    <th>United Kingdom price</th>
  </tr>
  <% @tesla_data.each do |tesla| %>
  <tr>
    <td><%= tesla[0] %></td>
    <td><%= tesla[1] %></td>
    <td><%= tesla[2] %></td>
    <td><%= tesla[3] %></td>
    <td><%= tesla[4] %></td>
    <td><%= tesla[5] %></td>
    <td><%= tesla[6] %></td>
    <td><%= tesla[7] %></td>
    <td><%= tesla[8] %></td>
    <td><%= tesla[9] %></td>
    <td><%= tesla[10] %></td>
    <td><%= tesla[11] %></td>
    <td><%= tesla[12] %></td>
    <td><%= tesla[13] %></td>
    <td><%= tesla[14] %></td>
    <td><%= tesla[15] %></td>
    <td><%= tesla[16] %></td>
    <td><%= tesla[17] %></td>
  </tr>
  <% end %>
</table>
<%= paginate @tesla_data %>
